/Frontend/Programa1/obj/Debug
/Frontend/Programa1/obj/Debug
/Frontend/Programa1/obj
/Frontend/Programa1/obj
/Frontend/Programa1/obj
.vs/
Frontend/.vs/
Frontend/Programa1/Programa1.csproj.user
Frontend/Programa1/Properties/
Frontend/Programa1/bin/

