/Frontend/Programa1/obj/Debug
/Frontend/Programa1/obj/Debug
/Frontend/Programa1/obj
/Frontend/Programa1/obj
/Frontend/Programa1/obj
/.vs
/Frontend/.vs
/Frontend/Programa1/bin
/Frontend/Programa1/bin
/Frontend/Programa1/bin
*.dll
*.exe
*.pdb
