/Frontend/Programa1/obj/Debug
/Frontend/Programa1/obj/Debug
/Frontend/Programa1/obj
/Frontend/Programa1/obj
/Frontend/Programa1/obj
/.vs
/Frontend/.vs
/Frontend/Programa1/bin
/Frontend/Programa1/bin
/Frontend/Programa1/bin
*.dll
*.exe
*.pdb
Frontend/Programa1/bin/Debug/net8.0/Programa1.dll
Frontend/Programa1/bin/Debug/net8.0/Programa1.exe
Frontend/Programa1/bin/Debug/net8.0/Programa1.pdb
/Frontend/Programa1/bin
